$Basic_border : 3px solid black;


.home{
  position: relative;
  background-color: lightgrey;
  width: 800px;
  margin: auto;
  border: $Basic_border;
  border-radius: 5px;
  top: 20px;
}

//header

.header{
  position: relative;
  background-color: tomato;
  border-bottom: $Basic_border;
  border-top-left-radius: 2px;
  height: 100px;
}

//main

.pokemonList{
  height: 75vh;
  overflow: scroll;
  li{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
}
.pokemonList::-webkit-scrollbar{
  display: none;
}

.footer{
  position: relative;
  background-color: white;
  border-top: $Basic_border;
  height: 100px;
  border-bottom-left-radius: 2px;
}


.botton{
  position: absolute;
  left: 46%;
  transform: translateX(-50%);
  width: 60px;
  height: 30px;
  background-color: white;
  border: $Basic_border;
}