$Basic_border : 3px solid black;


.home{
  position: relative;
  background-color: lightgrey;
  width: 800px;
  margin: auto;
  border: $Basic_border;
  border-radius: 5px;
  top: 20px;
}

//header

.header{
  position: relative;
  background-color: red;
  border-bottom: $Basic_border;
  border-top-left-radius: 2px;
  height: 100px;
}

//main
.main{
    padding: 60px 0 60px 0;
    .pokemonList{
    width: 80%;
    margin: auto;
    padding-top: 20px;
    background-color: aliceblue;
    border: 2px solid black;
    height: 65vh;
    overflow-y: scroll;
    
    //list
    li{
      width: 95%;
      margin: auto;
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      height: 60px;
      &:hover{
        border: 2px solid black;
        opacity: 0.6;
        cursor: pointer;
      }
      img{
        margin-left: 60px;
        width: 60px;
      }

      span{
        margin-left: 140px;
      }
    }

    &::-webkit-scrollbar{
      display: none;
    }
  }
}

.footer{
  position: relative;
  background-color: white;
  border-top: $Basic_border;
  height: 100px;
  border-bottom-left-radius: 2px;
}


.botton{
  position: absolute;
  left: 46%;
  transform: translateX(-50%);
  width: 60px;
  height: 30px;
  background-color: white;
  border: $Basic_border;
}