.modal{
  display: flex;
  height: 100vh;


//왼쪽 오른쪽 버튼
  .btn{
    min-width: 180px;
    width: 25%;
    background-color: lightgrey;
    &:hover{
      opacity: 0.6;
    }
  }
  .info{
    min-width: 440px;
    width: 50%;
    text-align: center;
    position: relative;
    
    .header{
      position: relative;
      top: 0%;
      width: 100%;
      background-color: red;
      height: 5vh;
      max-height: 70px;
    }
    .main{
      
      img{
        width: 100px;
      }
      .list{
        display: flex;
        min-width: 380px;
        width: 100%;
        
        span{
          width: 10%;
        }
        .type, .abilities{
          display: flex;
          justify-content: center;
          width: 80%;
        }
        
        .type{
          li{
            width: 132px;
            color: white;
            padding: 5px;
            border-radius: 5px;
          }
        }
  
        .abilities{
          li{
            width: 132px;
            
          }
        }
      }

    }

    .bottom{
      position: absolute;
      bottom: 0%;
      width: 100%;
      background-color: red;
      height: 5vh;
      max-height: 70px;
    }
  }
  
}