.노말{
  background-color: ;
  color: ;
}
.불꽃{
  background-color: ;
  color: ;
}

.물{
  background-color: ;
  color: ;
}

.풀{
  background-color: green;
  color: white;
}

.전기{
  background-color: ;
  color: ;
}

.얼음{
  background-color: ;
  color: ;
}

.격투{
  background-color: ;
  color: ;
}

.독{
  background-color: purple;
  color: white;
}

.땅{
  background-color: ;
  color: ;
}

.비행{
  background-color: ;
  color: ;
}

.에스퍼{
  background-color: ;
  color: ;
}

.벌레{
  background-color: ;
  color: ;
}

.바위{
  background-color: ;
  color: ;
}

.고스트{
  background-color: ;
  color: ;
}

.드래곤{
  background-color: ;
  color: ;
}

.악{
  background-color: ;
  color: ;
}

.강철{
  background-color: ;
  color: ;
}

.페어리{
  background-color: ;
  color: ;
}