.노말{
  background-color: #ACA593;
}
.불꽃{
  background-color: #F25802;
}

.물{
  background-color: #0267C3;
}

.풀{
  background-color: #379A02;
}

.전기{
  background-color: #EDA900;
}


.얼음{
  background-color: #6CD3F4;
}

.격투{
  background-color: #C03028;
}

.독{
  background-color: #6B256E;
}

.땅{
  background-color: #C9561D;
}

.비행{
  background-color: #5C73D3;
}

.에스퍼{
  background-color: #D6396C;
}

.벌레{
  background-color: #878C0E;
}

.바위{
  background-color: #9E863C;
}

.고스트{
  background-color: #685582;
}

.드래곤{
  background-color: #4E3BA4;
}

.악{
  background-color: #3B2D22;

}

.강철{
  background-color: #8F8E9E;
}

.페어리{
  background-color: #E08EE0;
}